<div class="container">
  <div class="row justify-content-md-center">
      <div class="col col-lg-6 col-md-8 col-xs-12">
        <div class="card">
            <div class="card-block">
                <h2 class="center-text ">Login</h2>
                <hr>
                <form action="javascript:void(0)">
                    <div class="form-group row">
                        <label for="name" class="col-2 col-form-label">Email:</label>
                        <div class="col-10">
                            <input class="form-control" type="email" id="email" name="email" placeholder="Enter you email">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="name" class="col-2 col-form-label">Password:</label>
                        <div class="col-10">
                            <input class="form-control" type="password" id="password" name="password" placeholder="Enter Your Password">
                        </div>
                    </div>        
                    <input type="submit" value="Signin" class="btn btn-info right">            
                </form>
            </div>
        </div>
      </div>
  </div>